//colours 
$bodyBg: #333;
$strokeColor: #000;
$textColor: #000; 
$fillColorSuccess: #7cc031;
$fillColorFail: #c03150; 
//sizing
$spinnerSize: 30px;
$strokeWidth: 2;
///////////////////////////////////////////speeds
$spinnerSpeed: 300ms;
$successRingSpeed: 1s;
$successTickSpeed: 1s;

// $animSpeedLeftStrokeFail: 2000ms;
// $animSpeedRightStrokeFail: 2000ms;
// $animSpeedRingFail: 2000ms;

@keyframes anim_spinner {
    to {
      transform: rotate(360deg);
    }
  }

@keyframes anim_successcheck {
    0% {
        stroke-dashoffset: 110;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes anim_successring {
    0% {
        stroke-dashoffset: -130;
    }
    100% {
        stroke-dashoffset: 00;
    }
}

.resultSpinner__wrap {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;   
    width: 100%;
}

.spinnerResult {
  height: $spinnerSize;
  position: absolute;
  transition: opacity $spinnerSpeed;
  top: 50;
  width: $spinnerSize;
  opacity: 0; //////////////////////////////
  &:before {
    content: '';
    height: $spinnerSize;
    position: absolute;
    width: $spinnerSize;
    animation: anim_spinner $spinnerSpeed linear infinite;
    border: 1px solid rgba($strokeColor, 0);
    border-top-color: rgba($strokeColor, 0.9);
    border-radius: 50%;
  }
  &.--spinner-complete {
    opacity: 0;
  }
}

.success-ring {
    fill: none;
    stroke-dasharray: 215;
    stroke-dashoffset: 0;
    stroke: $strokeColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: $strokeWidth;
    transform-origin: 50% 50%;
    opacity: 0;
    &.--complete {
        animation: anim_successring $successRingSpeed ease-in infinite;
        opacity: 1;
    }
}

.success-tick {
  fill: none;
  opacity: 0;
  stroke-dasharray: 110;
  stroke-dashoffset: -110;
  stroke: $strokeColor;
  stroke-width: $strokeWidth;
  stroke-linecap: round;
  stroke-linejoin: round;
  &.--complete {
    animation: anim_successcheck $successTickSpeed ease-in infinite;
    opacity: 1;
  }
}

.notify__progress-bar {
    height: 100%;
    position: absolute;
    transform: translate3d(0, 100%, 0);
    transition: transform 2000ms ease-in;
    width: 100%;
    z-index: -1;
    &.--complete {
      background: $fillColorSuccess;
      transform: translate3d(0, 0, 0);
    }
    // &.notify__progress-bar--fill--success {
    //   background: $fillColorSuccess;
    //   transform: translate3d(0, 0, 0);
    // }
    // &.notify__progress-bar--fill--fail {
    //   background: $fillColorFail;
    //   transform: translate3d(0, 0, 0);
    // }
  }
