// =========
// Variables
// =========
$off_white:   #F8FAFF;

$bright_pink: #F4157E;
$dull_pink:   #CD106E;

$bright_purple: #B31CE9;
$dull_purple: #7A03A5;

$bright_tomato: #FF3116;
$dull_tomato: #F91D00;

$bright_blue: #642AEA;
$dull_blue: #3908AB;

// ===============
// Relative parent
// ===============
.button-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
  }
  
  // ===========
  // The button!
  // ===========
  .button {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 68px;
    text-transform: capitalize;
    background: $bright_pink;
    color: $off_white;
    appearance: none;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    min-width: 200px;
    padding: 0 24px;
    box-shadow: 0 10px 60px -10px $dull_pink;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select:none;
    transform-style: preserve-3d;
    transform: perspective(250px) scale3d(1,1,1);
    transition: all 1s cubic-bezier(0.03,0.98,0.52,0.99);
    will-change: transform, box-shadow, background;
    outline: none;
    position: relative;
    &--pink {
        background: $bright_pink;
        color: $off_white;
        box-shadow: 0 10px 60px -10px $dull_pink;
    }
    &--purple {
        background: $bright_purple;
        color: $off_white;
        box-shadow: 0 10px 60px -10px $dull_purple;
    }
    &--tomato {
        background: $bright_tomato;
        color: $off_white;
        box-shadow: 0 10px 60px -10px $dull_tomato;
    }
    &--blue {
        background: $bright_blue;
        color: $off_white;
        box-shadow: 0 10px 60px -10px $dull_blue;
    }
  }
  